@page "/"

<div class="flex h-screen">
    <div class="p-4 w-48 bg-gray-100">
        <h3 class="font-medium mb-2">Your Boards</h3>
        <ul>
            <li>Default</li>
            <li>Household Chores</li>
        </ul>
    </div>
    <div class="p-4 flex-1"></div>
</div>